# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Vim
*.sw*

# removing ignore for lib in order to pull into seperate project from temp github repo with compiled js
# lib
.DS_Store
.nvmrc
